[Unit]
Description=KijaniKiosk Logs Service
After=network.target

[Service]
User=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/kk-logs/main.py --port {{ listen_port }}
Restart=always

[Install]
WantedBy=multi-user.target